.nav-col{
    background-color: midnightblue;
    text-align: left;
}

.title{
    color: white;
}

.list{
    color: white;
    background-color: gold;
    padding:2%;
    text-align: left;
}

.list-item{
    background-color: midnightblue;
    margin:1%;
    font-size: 150%;
    padding:1%;
}

.new-point-input{
    width: 80%;
}

.add-btn{
    background-color: gold;
    width:10%;
    margin: 1%;
}