<!DOCTYPE html>
<html lang="en" ng-app="newsApp">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/resources.css">
  <script type='text/javascript' src="angular.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>

</head>

<body ng-controller="newsController">
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="home.html"><img class="brand-img rounded-circle" src="images/imageQ.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  bottom-align" id="navbarSupportedContent">
      <ul class="top-list navbar-nav mr-auto">
        <li class="nav-item rounded">
          <a class="nav-link" href="login-home.html">Checklists<span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="login-personell.html">Personnel<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active rounded">
          <a class="nav-link" href="login-resources.html">Resources<span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="login-experience.html">Experiences<span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="login-events.html">Events<span class="sr-only"></span></a>
        </li>

      </ul>

    </div>
    <div class="action-buttons">

      <a href = "login-applications.html"><div><button class="btn btn-up btn-secondary btn-action">Review Applications</button></div></a>
      <a href = "home.html"><div><button class = "btn btn-secondary btn-action">Log Out</button></div></a>

    </div>
  </nav>
  <!-- nav bar end -->

<div class="row row-one">
  <div class="col-lg-3 col-sm-12">
  </div>
  <div class="col-sm-12 col-lg-8">
    <div class="myContainer">
      <form class="col-md-8" id="addition" ng-submit="addArticle(new_article)">
        <h3 style="text-align: center;">Add New Resource</h3>

        <div class="form-row">
          <input type="text" placeholder="Title" ng-model="new_article.name" style="width:50%" required/>
        </div>
        <div class="form-row">
          <input type="text" placeholder="YYYY/MM/DD" ng-model="new_article.date" style="width:50%" pattern="^\d{4}[\-\/\s]?((((0[13578])|(1[02]))[\-\/\s]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[\-\/\s]?(([0-2][0-9])|(30)))|(02[\-\/\s]?[0-2][0-9]))$" required/>
        </div>
        <div class="form-row">
          <input type="text" placeholder="Link" ng-model="new_article.link" style="width:50%" required/>
        </div>
        <div class="form-row">
        <textarea ng-model="new_article.summary" placeholder="Summary..." rows='4' style="width:100%" maxlength="200" minlength="10" required></textarea>
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-down">Add Resource</button>
        </div>
      </form>
    </div>
    </div>
</div>

  <div class="row row-two">
    <!-- filters coloumn-->
    <div class="col-lg-3 col-sm-12">
      <div class="card">
        <div class="card-header">Filters</div>
        <div class="card-body">
          <div class="filter-box">
            <div class="form-check">
              <div class="form-row">
                <input type="checkbox" class="form-check-input" id="dropdownCheck1">
                <label contenteditable="true" class="form-check-label" for="dropdownCheck1">
                  Git
                </label>
              </div>
              <div class="form-row">
                <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                <label contenteditable="true" class="form-check-label" for="dropdownCheck2">
                  Java
                </label>
              </div>
              <div class="form-row">
                <input type="checkbox" class="form-check-input" id="dropdownCheck3">
                <label contenteditable="true" class="form-check-label" for="dropdownCheck3">
                  Scala
                </label>
              </div>
              <div class="form-row">
                <input type="checkbox" class="form-check-input" id="dropdownCheck4">
                <label contenteditable="true" class="form-check-label" for="dropdownCheck4">
                  Android
                </label>
              </div>
              <div class="form-row">
                <input type="checkbox" class="form-check-input" id="dropdownCheck4">
                <label contenteditable="true" class="form-check-label" for="dropdownCheck4">
                  HTML
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- resources coloumn-->
    <div class="col-sm-12 col-lg-8">
      <!-- Display Article -->
      <!-- filter:consoleFilter | this should be used to filter through articles using consoleFilter function -->
      <div ng-repeat="article in articles | filter:searchFor |  orderBy: '-date'" class="panel panel-default">
        <div class="panel-heading">
          <button type="button" id="close" class="close" style="color: red;" ng-click="removeArticle(article)">&times;</button>
          <b contenteditable="true">{{ article.name }}</b>
        </div>
        <div class="panel-body" contenteditable="true">
          {{ article.summary }}
        </div>
        <div class="panel-footer">
          <p style="margin:5px;">Published: {{article.date}}</p>
          <p style="margin:10px;">Link: <span contenteditable="true">{{article.link}}</span></p>
        </div>
      </div>

      <div style="clear: left"></div>

      <script src="js/resources.js"></script>
    </div>
  </div>



</body>

</html>
