<!DOCTYPE html>
<html lang="en" ng-app="newsApp">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/experience.css">
  <script type='text/javascript' src="angular.min.js"></script>

</head>

<body ng-controller="newsController">
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="home.html"><img class="brand-img rounded-circle" src="images/imageQ.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  bottom-align" id="navbarSupportedContent">
      <ul class="top-list navbar-nav mr-auto">
        <li class="nav-item rounded">
          <a class="nav-link" href="login-home.html">Checklists<span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="login-personell.html">Personell<span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="login-resources.html">Resources<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active rounded">
          <a class="nav-link" href="login-experience.html">Experiances<span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="login-events.html">Events<span class="sr-only"></span></a>
        </li>

      </ul>

    </div>
    <div class="action-buttons">
      <a href = "#"><div><button class="btn btn-up btn-secondary btn-action">Applications Review</button></div></a>
      <a href = "home.html"><div><button class = "btn btn-secondary btn-action">Logout</button></div></a>
    </div>
  </nav>
  <!-- nav bar end -->

  <div class="myContainer" style="margin-top: 2%; margin-left: 70px;">
    <form class="col-md-8" id="addition" ng-submit="addArticle(new_article)">
      <h3 style="text-align: center;">Add New Experience</h3>
      <div class="form-row">
        <input type="text" placeholder="Name" ng-model="new_article.name" style="width:50%" required />
      </div>
      <div class="form-row">
        <input type="text" placeholder="YYYY/MM/DD" ng-model="new_article.date" style="width:50%" pattern="^\d{4}[\-\/\s]?((((0[13578])|(1[02]))[\-\/\s]?(([0-2][0-9])|(3[01])))|(((0[469])|(11))[\-\/\s]?(([0-2][0-9])|(30)))|(02[\-\/\s]?[0-2][0-9]))$"
          required />
      </div>
      <div class="form-row">
        <input type="text" placeholder="Event" ng-model="new_article.event" style="width:50%" required />
      </div>

      <hr>
      <div class="form-row">
        <label for="avatar" style="margin-right: 10px;">Image:</label>
        <input type="file" id="avatar" name="avatar" id="imgUp" accept="image/png, image/jpeg" ng-model="new_article.image">
      </div>
      <hr>

      <div class="form-row">
        <textarea ng-model="new_article.quote" placeholder="Quote..." rows='4' style="width:100%" maxlength="200" minlength="10" required></textarea>
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-down">Add Experience</button>
      </div>
    </form>
  </div>

  <!-- Display Article -->
  <!-- filter:consoleFilter | this should be used to filter through articles using consoleFilter function -->
  <div ng-repeat="article in articles | filter:searchFor |  orderBy: '-date'" class="panel panel-default">
    <div class="panel-heading" >
      <button type="button" id="close" class="close" style="color: red;" ng-click="removeArticle(article)">&times;</button>
      <p contenteditable="true"> {{ article.name }} </p>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3"><img src="images/{{article.image}}" style='max-height: 100%; max-width: 100%;'></img></div>
        <div class="col-md-9" contenteditable="true">{{ article.quote }}</div>
      </div>
    </div>
    <div class="panel-footer" contenteditable="true">{{ article.event }}</div>
  </div>

  <div style="clear: left"></div>

  <script src="js/experience.js"></script>



</body>

</html>
