<!DOCTYPE html>
<html ng-app="personellPageApp">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" href = "css/personell.css">
 <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
    <script type = "text/javascript" src ="js/personell.js"></script>

</head>

<body  ng-controller="officerController">

<!-- nav bar -->
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="home.html"><img class = "brand-img rounded-circle" src = "images/imageQ.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse  bottom-align" id="navbarSupportedContent">
    <ul class="top-list navbar-nav mr-auto">
      <li class="nav-item rounded">
        <a class="nav-link" href="login-home.html">Checklists<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active rounded">

        <a class="nav-link" href="login-personell.html">Personell<span class="sr-only"></span></a>

      </li>
      <li class="nav-item rounded">
        <a class="nav-link" href="login-resources.html">Resources<span class="sr-only"></span></a>
      </li>
      <li class="nav-item rounded">

        <a class="nav-link" href="login-experience.html">Experiences<span class="sr-only"></span></a>

      </li>
      <li class="nav-item rounded">
        <a class="nav-link" href="login-events.html">Events<span class="sr-only"></span></a>
      </li>

    </ul>


  </div>
   <div class = "action-buttons">
        <a href = "login-applications.html"><div><button class = "btn btn-secondary">Review Applications</button></div></a>
        <a href = "home.html"><div><button class = "btn btn-secondary">Log Out</button></div></a>

    </div>
</nav>
<!-- nav bar end -->


<button class = "btn btn-primary" style = "margin: 0%; margin-left: 20%; margin-top: 2%; width: 10%; " ng-click = "Save()">Save</button>
    
<div class = "row row-one" >
    
    
    <div class = "col-lg-7" style="margin:1%">
    <h2 class = "title-one">Computing Club Officers</h2>
        <div class = "card" ng-repeat ="officer in officers | filter:{Type:'Student'}" >
            <div class = "card-body">
                <img class = "card-img-top" src = "{{officer.Image}}">

                <h4 class = "card-title" contenteditable="true">{{officer.Position}}</h4>
                <h4 class = "card-title" contenteditable="true">{{officer.Name}}, {{officer.Class}}</h4>
            </div>
        </div>
    </div>

    
    <div class = "col-lg-4">
        <h2 class = "title-one">Professors</h2>
        <div class = "card" ng-repeat ="officer in officers | filter:{Type:'Professor'}" >
            <div class = "card-body">
                <img class = "card-img-top" src = "{{officer.Image}}">

                <h4 class = "card-title" contenteditable="true">{{officer.Position}}</h4>
                <h4 class = "card-title" contenteditable="true">{{officer.Name}}, {{officer.Class}}</h4>
            </div>
        </div>
    </div>

    
</div>
    
<div class = "row">
    <div class = "col-sm-12 col-lg-6">
    
    <div class="myContainer" style="margin-top: 2%; margin-left: 70px; background-color: gold;">
    <form class="col-md-8" id="addition" ng-submit="addPersonell(new_personell)">
      <h3 style="text-align: center; color: white;">Add New Personell</h3>
      <div class="form-row">
        <input type="text" placeholder="Name" ng-model="new_personell.Name" style="width:50%" required />
      </div>
      <div class="form-row">
        <input type="text" placeholder="Class" ng-model="new_personell.Class" required />
      </div>
      <div class="form-row">
        <input type="text" placeholder="Position" ng-model="new_personell.Position" style="width:50%" required />
      </div>

      <hr>
      <div class="form-row">
        <label for="avatar" style="margin-right: 10px;">Image:</label>
        <input type="file" id="avatar" name="avatar" id="imgUp" accept="image/png, image/jpeg" ng-model="new_personell.Image">
      </div>
      <hr>

      <div class="form-row">
        <input ng-model="new_personell.Type" placeholder="Student/Professor" rows='4' style="width:100%" required>
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-down">Add</button>
      </div>
    </form>
  </div>
        
    </div>
</div>    
    
</body>


</html>

