.title-one {
  color: white;
}

.card {
  /* display: inline-block; */
  float: left;
  width: 300px;
  margin: 1%;
}


.card-img-top {
  width: 70%;
}

.card-header {
  font-size: large;
}

.card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-row {
  margin: 10px;
}

.form-group {
  width:100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#addition {
  border: white;
  background-color: gold;
  padding: 25px;
}
