.radio-button {
  margin-left: 2%;
  margin-right: 2%;
}

.panel {
  margin: 2%;
  padding: 10px;
  background-color: whitesmoke;
}

.panel-heading {
  font-size: x-large;
}

.panel-body,
.panel-footer {
  font-size: medium;
}

.card-resource .card-header {
  font-size: large;
}

.card-resource {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#addition {
  border: white;
  background-color: gold;
  padding: 10px;
  margin-left: 120px;
  margin-right: 10px;
}
