<!DOCTYPE html>
<html lang="en" ng-app="newsApp">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../public/css/experience.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="../public/js/experience.js"></script>

</head>

<body ng-controller="newsController">
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="home.html"><img class="brand-img
    rounded-circle" src="../public/images/imageQ.jpg"></a>
    <h1 style="color:white; margin-left: 10%; margin-bottom: 2%;">Quinnipiac Computing Club</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse  bottom-align" id="navbarSupportedContent">
      <ul class="top-list navbar-nav mr-auto">
        <li class="nav-item rounded">
          <a class="nav-link" href="home.html">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="personnel.html">Personnel<span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="resources.html">Resources<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active rounded">
          <a class="nav-link" href="experience.html">Experiences<span class="sr-only"></span></a>
        </li>
        <li class="nav-item rounded">
          <a class="nav-link" href="events.html">Events<span class="sr-only"></span></a>
        </li>

      </ul>

    </div>
    <div class="action-buttons">
      <a href="apply.html">
        <div><button class="btn btn-secondary">Apply Now</button></div>
      </a>
      <a href="login.html">
        <div><button class="btn btn-secondary">Admin Login</button></div>
      </a>
    </div>
  </nav>
  <!-- nav bar end -->
  <!-- Display Article -->
  <!-- filter:consoleFilter | this should be used to filter through articles using consoleFilter function -->
  <div ng-repeat="article in articles | filter:searchFor |  orderBy: '-date'" class="panel panel-default">
    <div class="panel-heading"> {{ article.name }}</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3"><img src="../public/images/{{article.image}}"
            style='max-height: 100%; max-width: 100%;'></img>
        </div>
        <div class="col-md-9">{{ article.quote }}</div>
      </div>
    </div>
    <div class="panel-footer">{{ article.event }}</div>
  </div>

  <div style="clear: left"></div>





</body>

</html>