<div class="row row-one">
  <div class="col-sm-5 login-col">
    <form novalidate ng-submit="loginCtrl.submitForm(admin)" class="form-vertical">

      <div class="form-group">
        <label class="login-label">Admin Username</label>
        <input type="text" class="form-control" placeholder="username" ng-model="admin.username" required>
      </div>

      <div class="form-group">
        <label class="login-label">Admin Password</label>
        <input type="password" class="form-control" placeholder="password" ng-model="admin.password" required>
      </div>

      <div>
        <button class="btn btn-warning login-btn" type="submit">Login</button>
      </div>

    </form>

    <form novalidate ng-submit="loginCtrl.logout()" class="form-vertical">

      <div>
        <button class="btn btn-warning login-btn" type="submit">Logout</button>
      </div>

    </form>

  </div>

  <div class="col-sm-7">
    <img class="img-responsive rounded-circle" src="/public/images/imageQ.jpg">
  </div>

</div>
