<div class="row row-one">
  <div class="col-sm-5 register-col">
    <form novalidate ng-submit="registerCtrl.submitForm(admin)" class="form-vertical">

      <div class="form-group">
        <label class="register-label">Admin Username</label>
        <input type="text" class="form-control" placeholder="username" ng-model="admin.username" required>
      </div>

      <div class="form-group">
        <label class="register-label">Admin Password</label>
        <input type="password" class="form-control" placeholder="password" ng-model="admin.password" required>
      </div>

      <div>
        <button class="btn btn-warning register-btn" type="submit">Register</button>
      </div>

    </form>

  </div>

  <div class="col-sm-7">
    <img class="img-responsive rounded-circle" src="/public/images/imageQ.jpg">
  </div>

</div>
