<div class="row row-one" ng-if="isAuthenticated">
  <div class="col-lg-3 col-sm-12"></div>
  <div class="col-sm-12 col-lg-8">
    <div class="myContainer">
      <form class="col-md-8" id="addition" ng-submit="resourceCtrl.addResource(resourceCtrl.resource)">
        <h3 style="text-align: center;">Add New Resource</h3>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Title" ng-model="resourceCtrl.resource.title" "
            required />
        </div>
        <div class=" form-group">
          <select class="form-control" ng-model="resourceCtrl.resource.category">
            <option value="" disabled selected hidden>Category</option>
            <option value="git" selected hidden>Git</option>
            <option value="java">Java</option>
            <option value="scala">Scala</option>
            <option value="android">Android</option>
            <option value="html">HTML</option>
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Link" ng-model="resourceCtrl.resource.link" "
            required />
        </div>
        <div class=" form-group">
          <textarea class="form-control" ng-model="resourceCtrl.resource.summary" placeholder="Summary..." rows="4"
            style="width:100%" maxlength="200" minlength="10" required></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-add">Add Resource</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row row-two">
  <!-- filters coloumn-->
  <div class="col-lg-3 col-sm-12">
    <div class="card card-resource">
      <div class="card-header">Filters</div>
      <div class="card-body">
        <div class="filter-box">
          <div class="form-check">
            <div class="radio">
              <label>
                <input type="radio" name="optradio2" value="git" ng-model="resourceCtrl.currentCategory" />
                GitHub
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optradio2" value="java" ng-model="resourceCtrl.currentCategory" />
                Java
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optradio2" value="scala" ng-model="resourceCtrl.currentCategory" />
                Scala
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optradio2" value="android" ng-model="resourceCtrl.currentCategory" />
                Android
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optradio2" value="html" ng-model="resourceCtrl.currentCategory" />
                HTML
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- resources coloumn-->
  <div class="col-sm-12 col-lg-8">
    <!-- Display Article -->
    <!-- filter:consoleFilter | this should be used to filter through articles using consoleFilter function -->
    <div ng-repeat="resource in resourceCtrl.resources | filter:resourceCtrl.currentCategory"
      class="panel panel-default">
      <div class="panel-heading">
        <button type="button" id="close" class="close" style="color: red;"
          ng-click="resourceCtrl.deleteResource(resource)" ng-if="isAuthenticated">
          &times;
        </button>
        <b>{{ resource.title }}</b>
      </div>
      <div class="panel-body">
        {{ resource.summary }}
      </div>
      <div class="panel-footer">
        <p style="margin:10px;">
          Link:
          <span><a>{{ resource.link }}</a></span>
        </p>
      </div>
    </div>

    <div style="clear: left"></div>
  </div>
</div>
